*.root
.DS_Store
*.so
*.ipynb
src/*.html
build
*.pyc
.idea
*.swp
archive
_build
/tutorial.ipynb
/tutorial.py
actual
dist
.coverage
cover
Untitled*.*
*~
*.orig
probfit/*.html
.project
.pydevproject
.settings
probfit.egg-info
.cache
probfit/*.c

!/tutorial/*.ipynb
